body {
    background-color: #00AAEE;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .products ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
  }

.products h5 {
  padding-top: 20px;
}

.products p {
  font-size: 12px;
  margin: 0;
}

.training {
  padding: 0px;
}

.training h5 {
  padding-top: 20px;
}

.training li {
  font-size: 12px;
  margin: 0;
}

  .active {
    background-color: #0099FF;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }